.create-product-form {
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.form-title {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
  
.product-grid .card {
  border: 3px solid #ccc;
  border-radius: 8px;
}
   */

.wildberries-card {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
}

.wildberries-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card-title {
  font-size: 16px;
  margin-top: 10px;
  color: #333333;
}
