.home-container {
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.home-title {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 50px;
}

.home-description {
  color: #666666;
  font-size: 16px;
  margin: 30px
}

.home-content {
  display: flex;
}

.home-text {
  flex: 1;
  padding-right: 20px;
}

.home-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}
